# Database
DATABASE_URL="postgresql://user:password@localhost:5432/lettera?schema=public"

# Application
PORT=3000
NODE_ENV=development

OPENROUTER_API_KEY=your_api_key_here
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=