# Database Configuration
DATABASE_URL=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=

# Password Hashing
BCRYPT_ROUNDS=

# Server Configuration
PORT=
NODE_ENV=
FRONTEND_URL=http://localhost:5173

OPENROUTER_API_KEY=
   
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
